<?xml version="1.0"?>
<launch>
  <arg name="gui" default="true"/>
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find evry_project_description)/worlds/obstacles.world"/>
    <arg name="gui" value="$(arg gui)" />
  </include>

  <include file="$(find evry_project_description)/launch/spawn_robots.launch"/>
  
</launch>