<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="nbr_robot" default="1"/>

    <param name="robot" command="xacro --inorder '$(find evry_project_description)/urdf/robot.xacro'"/>

    <node name="mybot_spawn_1" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param /robot -x 21.21320344 -y -21.21320344 -z 0 -Y 2.35619449 -model robot_1" ns="robot_1"
          if="$(eval arg('nbr_robot') > 0)"/>

    <node name="mybot_spawn_2" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param /robot -x -21.21320344 -y -21.21320344 -z 0 -Y 0.7853981634 -model robot_2" ns="robot_2"
          if="$(eval arg('nbr_robot') > 1)"/>

    <node name="mybot_spawn_3" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param /robot -x 0 -y 30 -z 0 -Y -1.570796327 -model robot_3" ns="robot_3"
          if="$(eval arg('nbr_robot') > 2)"/>
</launch>